S3method(plot,BD)
S3method(plot,GMH)
S3method(plot,GenLord)
S3method(plot,LRT)
S3method(plot,Logistic)
S3method(plot,Logistic.Poly)
S3method(plot,Lord)
S3method(plot,MH)
S3method(plot,MHPoly)
S3method(plot,PDIF)
S3method(plot,Raj)
S3method(plot,SIBTEST)
S3method(plot,TID)
S3method(plot,difQuade)
S3method(plot,genLogistic)
S3method(print,BD)
S3method(print,GMH)
S3method(print,GenLord)
S3method(print,LRT)
S3method(print,Logistic)
S3method(print,Logistic.Poly)
S3method(print,Lord)
S3method(print,MH)
S3method(print,PDIF)
S3method(print,Raj)
S3method(print,SIBTEST)
S3method(print,TID)
S3method(print,dichoDif)
S3method(print,difQuade)
S3method(print,genDichoDif)
S3method(print,genLogistic)
S3method(print,subLogistic)
export(LRT)
export(ILHTEdif)
export(Continuous)
export(difContinuous)
export(LassoData)
export(Logistik)
export(LogistikPoly)
export(LordChi2)
export(RajuZ)
export(SimDichoDif)
export(SimPolyDif)
export(breslowDay)
export(contrastMatrix)
export(dichoDif)
export(difBD)
export(difGMH)
export(difGenLogistic)
export(difGenLord)
export(difLRT)
export(difLogReg)
export(difLogistic)
export(difLord)
export(difMH)
export(difMantel.poly)
export(difPolyLogistic)
export(difQuade)
export(difRaju)
export(difSIBTEST)
export(difStd)
export(difTID)
export(genDichoDif)
export(genLogistik)
export(genLordChi2)
export(genMantelHaenszel)
export(itemPar1PL)
export(itemPar2PL)
export(itemPar3PL)
export(itemPar3PLconst)
export(itemParEst)
export(itemRescale)
export(lassoDIF.ABWIC)
export(lassoDIF.CV)
export(liu_agresti_ccor)
export(mantelHaenszel)
export(plot_lasso_paths)
export(selectDif)
export(selectGenDif)
export(sibTest)
export(stdPDIF)
export(subtestLogistic)
importFrom(dplyr, "%>%", filter, pull, all_of)
importFrom(tidyr, pivot_longer)
importFrom(ggplot2, ggplot, aes, geom_point, geom_errorbar,
           geom_hline, labs, theme_bw, theme, element_text,
           element_blank)
importFrom(lme4, glmer, VarCorr, ranef)
importFrom(grDevices, png)
importFrom(graphics, layout, plot.new)
importFrom(stats, as.formula, p.adjust.methods, pf, qf, setNames, qnorm)
importFrom(DescTools,PseudoR2)
importFrom(VGAM,propodds)
importFrom(VGAM,vglm)
importFrom(deltaPlotR,deltaPlot)
importFrom(deltaPlotR,diagPlot)
importFrom(glmnet,cv.glmnet)
importFrom(glmnet,glmnet)
importFrom(grDevices,dev.off)
importFrom(grDevices,jpeg)
importFrom(grDevices,pdf)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,matplot)
importFrom(graphics,par)
importFrom(graphics,points)
importFrom(graphics,text)
importFrom(ltm,ltm)
importFrom(ltm,rasch)
importFrom(ltm,tpm)
importFrom(mirt,SIBTEST)
importFrom(stats,binomial)
importFrom(stats,coef)
importFrom(stats,coefficients)
importFrom(stats,complete.cases)
importFrom(stats,cor)
importFrom(stats,deviance)
importFrom(stats,glm)
importFrom(stats,mantelhaen.test)
importFrom(stats,median)
importFrom(stats,model.matrix)
importFrom(stats,na.omit)
importFrom(stats,p.adjust)
importFrom(stats,pchisq)
importFrom(stats,pnorm)
importFrom(stats,qchisq)
importFrom(stats,qnorm)
importFrom(stats,rbinom)
importFrom(stats,rnorm)
importFrom(stats,sd)
importFrom(stats,symnum)
importFrom(stats,vcov)
importFrom(utils,capture.output)
importFrom(utils,stack)
importFrom(utils,write.table)
